<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create </title>
</head>
<body>

<form action="/auto-create" method="POST">

    autoName: <input type="text" name="autoName">

    autoEngineSize: <input type="text" name="autoEngineSize">

    autoManufactor:
    <select name="manufacturerName" id="manufacturerName">
        <option disabled selected>Select</option>
        <option th:each="manufacturer: ${allManufactor}"
                th:value="${manufacturer.name}"
                th:utext="${manufacturer.name}"></option>
    </select>

    <input type="submit" value="Create"/>
</form>

<a href="/auto-list">List of Autos</a>

</body>
</html>

