<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto list</title>
</head>
<body>

List of Autos

<table border="1">
    <tr>
        <th>Mark</th>
        <th>Engine size</th>
        <th>Manufactor</th>
    </tr>
    <tr th:each="auto : ${allAuto}">
        <!--<td th:text="${auto.id}"></td>-->
        <td th:text="${auto.mark}"></td>
        <td th:text="${auto.engineSize}"></td>
        <td th:text="${auto.manufactor.name}"></td>
    </tr>
</table>

<a href="/auto-create">Create</a>

</body>
</html>