<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto list</title>
</head>
<body>

<h2 th:text="#{title.list}">List of Autos</h2>


<table>
    <thead>
    <tr>
        <th th:text="#{auto.mark}">m</th>
        <th th:text="#{auto.engineSize}">1</th>
        <!--<th th:text="#{seedstarter.type}">Type</th>-->
        <!--<th th:text="#{seedstarter.features}">Features</th>-->
        <!--<th th:text="#{seedstarter.rows}">Rows</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="sb : ${allAuto}">
        <td th:text="${{auto.mark}}">13/01/2011</td>
        <td th:text="#{{auto.engineSize}}">yes</td>
        <!--<td th:text="#{|seedstarter.type.${sb.type}|}">Wireframe</td>-->
    </tr>
    </tbody>
</table>

</body>
</html>